# Cleaning Data with Pandas Exercises

For the exercises, you will be cleaning data in the Women's Clothing E-Commerce Reviews dataset.

**Dataset Information:**
- **Dataset Name:** Women's Clothing E-Commerce Reviews
- **File:** `Womens Clothing E-Commerce Reviews.csv`
- **Source:** This dataset contains reviews written by customers and includes features like ratings, review text, product categories, and customer information.

To start cleaning data, we first need to create a dataframe from the CSV and print out any relevant info to make sure our dataframe is ready to go.

In [4]:
# Import pandas and any other libraries you need here.
# Create a new dataframe from your CSV
import pandas as pd
clothing_df = pd.read_csv("/Users/myworld2.0/Documents/data-analysis-projects/cleaning-data-pandas-exercises-studio/exercises/Womens Clothing E-Commerce Reviews.csv")
clothing_df.head(5)

,Unnamed: 0,Clothing ID,Age,Title,Review Text,Rating,Recommended IND,Positive Feedback Count,Division Name,Department Name,Class Name
0,0,767,33,NaN,Absolutely wonderful - silky and sexy and comf...,4,1,0,Initmates,Intimate,Intimates
1,1,1080,34,NaN,Love this dress! it's sooo pretty. i happene...,5,1,4,General,Dresses,Dresses
2,2,1077,60,Some major design flaws,I had such high hopes for this dress and reall...,3,0,0,General,Dresses,Dresses
3,3,1049,50,My favorite buy!,"I love, love, love this jumpsuit. it's fun, fl...",5,1,0,General Petite,Bottoms,Pants
4,4,847,47,Flattering shirt,This shirt is very flattering to all due to th...,5,1,6,General,Tops,Blouses

In [5]:
# Print out any information you need to understand your dataframe

clothing_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23486 entries, 0 to 23485
Data columns (total 11 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Unnamed: 0               23486 non-null  int64
 1   Clothing ID              23486 non-null  int64
 2   Age                      23486 non-null  int64
 3   Title                    19676 non-null  object
 4   Review Text              22641 non-null  object
 5   Rating                   23486 non-null  int64
 6   Recommended IND          23486 non-null  int64
 7   Positive Feedback Count  23486 non-null  int64
 8   Division Name            23472 non-null  object
 9   Department Name          23472 non-null  object
 10  Class Name               23472 non-null  object
dtypes: int64(6), object(5)
memory usage: 2.0+ MB

## Missing Data

Try out different methods to locate and resolve missing data.

In [6]:
# Try to find some missing data!
missing_data = clothing_df.isnull()
print(missing_data)

clothing_df.isnull().sum()

       Unnamed: 0  Clothing ID    Age  Title  Review Text  Rating  \
0           False        False  False   True        False   False
1           False        False  False   True        False   False
2           False        False  False  False        False   False
3           False        False  False  False        False   False
4           False        False  False  False        False   False
...           ...          ...    ...    ...          ...     ...
23481       False        False  False  False        False   False
23482       False        False  False  False        False   False
23483       False        False  False  False        False   False
23484       False        False  False  False        False   False
23485       False        False  False  False        False   False

       Recommended IND  Positive Feedback Count  Division Name  \
0                False                    False          False
1                False                    False          False
2                False                    False          False
3                False                    False          False
4                False                    False          False
...                ...                      ...            ...
23481            False                    False          False
23482            False                    False          False
23483            False                    False          False
23484            False                    False          False
23485            False                    False          False

       Department Name  Class Name
0                False       False
1                False       False
2                False       False
3                False       False
4                False       False
...                ...         ...
23481            False       False
23482            False       False
23483            False       False
23484            False       False
23485            False       False

[23486 rows x 11 columns]

Unnamed: 0                    0
Clothing ID                   0
Age                           0
Title                      3810
Review Text                 845
Rating                        0
Recommended IND               0
Positive Feedback Count       0
Division Name                14
Department Name              14
Class Name                   14
dtype: int64

Did you find any missing data? What things worked well for you and what did not?

In [ ]:
# Respond to the above questions here:

# Yes, I found missing data. Using the isnull and sum functionas tongether helps more 
# because it allows me to see a summary of NaN values

# Just displaying the missing data as boolean values wasn't enough.
# That only gave me part of the story, sum is able to tell me the rest...

## Irregular Data

With missing data out of the way, turn your attention to any outliers. Just as we did for missing data, we first need to detect the outliers.

In [7]:
# Keep an eye out for outliers!

#rating_outliers = ((clothing_df["Rating"] < 0) | (clothing_df["Rating"] > 5))

#rating_outliers = clothing_df[rating_outliers]
#print(rating_outliers)
#print(rating_outliers.sum())

# There are no outliers that exist within the Rating column

#clothing_df["Age"].describe()

#age_outliers = ((clothing_df["Age"] > 90) | (clothing_df["Age"] < 18))
#print(age_outliers)
#print(age_outliers.sum())

age_outliers_Q1 = clothing_df["Age"].quantile(0.25) #Calculates the first quantile (Q1)
age_outliers_Q3 = clothing_df["Age"].quantile(0.75) #Calculates the third quantile (Q3)

IQR = (age_outliers_Q3) - (age_outliers_Q1)

lower_bound = age_outliers_Q1 - 1.5 * IQR
upper_bound = age_outliers_Q3 + 1.5 * IQR 

age_outliers_IQR = clothing_df[(clothing_df["Age"] < lower_bound) | (clothing_df["Age"] > upper_bound)] 
print("Outliers using IQR method: \n", age_outliers_IQR)

Outliers using IQR method:
        Unnamed: 0  Clothing ID  Age                         Title  \
95             95          863   83              Casual elegance!
234           234          840   83        Pretty but runs large!
277           277          868   83              Sooooooooo cute!
628           628         1059   80             Please restock!!!
659           659          252   93                 Amazing suit!
...           ...          ...  ...                           ...
22640       22640         1094   80             Fantastic product
22716       22716         1087   87                           NaN
22773       22773          949   83              Scottish classic
23001       23001          298   83  Beautiful twist on a classic
23033       23033          868   86                  Loved these!

                                             Review Text  Rating  \
95     Purchased this top online, and when i received...       5
234    I ordered this top in my usual size and am exc...       5
277    Love this top!\nit is a full/ swing top, but t...       5
628    These sold out in my size 16 before i even kne...       5
659    This is by far the cutest, most glamorous one ...       5
...                                                  ...     ...
22640  This arrived today and i am thrilled with it. ...       5
22716  This dress fits great and is very warm for the...       4
22773  Received this jacket yesterday...and it is lov...       5
23001  I found this top to be very beautiful and well...       5
23033  I saw online and bought in white and moss! mos...       5

       Recommended IND  Positive Feedback Count   Division Name  \
95                   1                       14         General
234                  1                        0         General
277                  1                        1         General
628                  1                        6         General
659                  1                        3       Initmates
...                ...                      ...             ...
22640                1                        8  General Petite
22716                1                        0  General Petite
22773                1                        0         General
23001                1                        3  General Petite
23033                1                        8         General

      Department Name Class Name
95               Tops      Knits
234              Tops    Blouses
277              Tops      Knits
628           Bottoms      Pants
659          Intimate       Swim
...               ...        ...
22640         Dresses    Dresses
22716         Dresses    Dresses
22773            Tops   Sweaters
23001        Intimate     Lounge
23033            Tops      Knits

[109 rows x 11 columns]

What techniques helped you find outliers? In your opinion, what about the techniques you used made them effective?

In [ ]:
# Make your notes here:

# My original method did not satify my outlier findings. It quitely literally gave me no results. 
# So I decided to give Google a go and found that the IQR method was more sustible for my search. 
# Most of the outliers pertained to unusually high ages compared to the rest of the reviewers.
# Mainly shoppers in their 80s and 90s. Since the majority of reviews come from much younger age groups, 
# these entries fall far outside the normal range and were identified as statistical outliers.

## Unnecessary Data

Unnecessary data could be irrelevant to your analysis or a duplicate column. Check out the dataset to see if there is any unnecessary data.

In [10]:
# Look out for unnecessary data!

clothing_df.drop(columns=['Recommended IND'])

clothing_df.drop(columns=['Division Name'])

clothing_df.drop(columns=['Class Name'])

print(clothing_df)

       Unnamed: 0  Clothing ID  Age  \
0               0          767   33
1               1         1080   34
2               2         1077   60
3               3         1049   50
4               4          847   47
...           ...          ...  ...
23481       23481         1104   34
23482       23482          862   48
23483       23483         1104   31
23484       23484         1084   28
23485       23485         1104   52

                                                   Title  \
0                                                    NaN
1                                                    NaN
2                                Some major design flaws
3                                       My favorite buy!
4                                       Flattering shirt
...                                                  ...
23481                     Great dress for many occasions
23482                         Wish it was made of cotton
23483                              Cute, but see through
23484  Very cute dress, perfect for summer parties an...
23485                    Please make more like this one!

                                             Review Text  Rating  \
0      Absolutely wonderful - silky and sexy and comf...       4
1      Love this dress!  it's sooo pretty.  i happene...       5
2      I had such high hopes for this dress and reall...       3
3      I love, love, love this jumpsuit. it's fun, fl...       5
4      This shirt is very flattering to all due to th...       5
...                                                  ...     ...
23481  I was very happy to snag this dress at such a ...       5
23482  It reminds me of maternity clothes. soft, stre...       3
23483  This fit well, but the top was very see throug...       3
23484  I bought this dress for a wedding i have this ...       3
23485  This dress in a lovely platinum is feminine an...       5

       Recommended IND  Positive Feedback Count   Division Name  \
0                    1                        0       Initmates
1                    1                        4         General
2                    0                        0         General
3                    1                        0  General Petite
4                    1                        6         General
...                ...                      ...             ...
23481                1                        0  General Petite
23482                1                        0  General Petite
23483                0                        1  General Petite
23484                1                        2         General
23485                1                       22  General Petite

      Department Name Class Name
0            Intimate  Intimates
1             Dresses    Dresses
2             Dresses    Dresses
3             Bottoms      Pants
4                Tops    Blouses
...               ...        ...
23481         Dresses    Dresses
23482            Tops      Knits
23483         Dresses    Dresses
23484         Dresses    Dresses
23485         Dresses    Dresses

[23486 rows x 11 columns]

Did you find any unnecessary data in your dataset? How did you handle it?

In [ ]:
# Make your notes here.

# I removed Division Name, Recommended IND, and Class Name because they having Class, Division, and Department
# created redundancy without improving insights. Recommended IND provided no insight in the context of viable information 
# and clear interpretation (depemdimg on it's use case)

## Inconsistent Data

Inconsistent data is likely due to inconsistent formatting and can be addressed by re-formatting all values in a column or row.

In [17]:
# Look out for inconsistent data!

#print(clothing_df['Division Name'].unique())
#print(clothing_df['Department Name'].unique())
#print(clothing_df['Class Name'].unique())

# To fix the misspellings
#clothing_df['Division Name'] = clothing_df['Division Name'].replace({
 #   'Initmates': 'Intimates'
#})

#print(clothing_df['Division Name'])

# To standardized

#clothing_df['Department Name'] = clothing_df['Department Name'].str.title()
#clothing_df['Class Name'] = clothing_df['Class Name'].str.title()

#print(clothing_df['Department Name'])
#print(clothing_df['Class Name'])

# To fill in the NaN

clothing_df[['Division Name','Department Name','Class Name']] = (
    clothing_df[['Division Name','Department Name','Class Name']].fillna('Unknown')
)

print (clothing_df[['Division Name','Department Name','Class Name']])

        Division Name Department Name Class Name
0           Intimates        Intimate  Intimates
1             General         Dresses    Dresses
2             General         Dresses    Dresses
3      General Petite         Bottoms      Pants
4             General            Tops    Blouses
...               ...             ...        ...
23481  General Petite         Dresses    Dresses
23482  General Petite            Tops      Knits
23483  General Petite         Dresses    Dresses
23484         General         Dresses    Dresses
23485  General Petite         Dresses    Dresses

[23486 rows x 3 columns]

Did you find any inconsistent data? What did you do to clean it?

In [ ]:
# Make your notes here!

# Based on my findings, I noticed a few inconsistent values across the Division Name, Department Name,
# and the Class Name columns. Majority of the categories had slightly different versions, misspellings, and  . 
# Others had unecessary spacing or repeated categories. 

# I simply used .replace function to replace the different versions with their correct verions.
# I also standardized the information